[submodule "go_projects"]
	path = go_projects
	url = git@github.com:shihao-hub/td-go_projects.git
	branch = main
	ignore = all
[submodule "python_projects"]
	path = python_projects
	url = git@github.com:shihao-hub/td-python_projects.git
	branch = master
	ignore = all
[submodule "rust_projects"]
	path = rust_projects
	url = git@github.com:shihao-hub/td-rust_projects.git
	branch = main
	ignore = all
[submodule "typescript_projects"]
	path = typescript_projects
	url = git@github.com:shihao-hub/td-typescript_projects.git
	branch = master
	ignore = all
